.blockImg {
    width: 100%;
    height: fit-content;
}

.blockImg > div {
    background-color: var(--c10);
}

.blockText {
    margin: 20px;
}

@media (max-width: 588px){
    .blockImg {
        flex-direction: column;
    }
}
